<h4>Agregar Personaje</h4>

<form class="row" (ngSubmit)="sendNewCharacter(f)" #f="ngForm">

  <input name="name" type="text" placeholder="Nombre" class="form-control mb-2" [(ngModel)]="character.name" required>

  <input name="power" type="number" placeholder="Poder" class="form-control mb-2" [(ngModel)]="character.power" required>

  <button class="btn btn-primary" type="submit">Agregar</button>
</form>

<div *ngIf="successMessage" class="alert alert-success mt-3">
  {{ successMessage }}
</div>
